@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(196, 241, 144);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../css/mainback.jpg);

  background-size: cover;
  background-position: center;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#temp {
  text-align: center;
}

#temp #temp-unit {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
}
#temp #temp-value {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  color: #ffffff;
}
#climate {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}
#location {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}

#temp-icon {
  margin: 1rem;
  width: 40%;
  height: auto;
}

main {
  padding: 20px;
  margin-top: 10px;
  background: rgba(134, 23, 23, 0.2);
  border-radius: 50px;
  width: 360px;
  height: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 20px 10px rgba(20, 44, 24, 0.2);
}

#search-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(84, 150, 70);
  border-radius: 50px;
  margin-left: 5px;
  padding: 11px;
  border: 2px solid #494949;
  display: inline-block;
  transition: all 0.4 ease 0s;
}
#search-button:hover {
  color: #ffffff;
  background: #172917;
  border-color: #1d351e;
  transition: all 0.4s ease 0s;
}

#search-input {
  width: 260px;
  overflow: hidden;
  font-size: 20px;
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 3px solid #416424;
  color: white;
  outline: none;
  background: none;
}
input {
  border: none;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../css/mainback.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul {
  float: right;
  list-style-type: none;
  margin: 25px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}
ul li a:hover {
  background-color: #fff;
  color: #000;
}
ul li.active a {
  background-color: #fff;
  color: #000;
}
.logo img {
  float: left;
  width: 200px;
  height: auto;
}
.main {
  max-width: 1200px;
  margin: auto;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  color: #fff;
  font-size: 70px;
}
body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(196, 241, 144);
  color: rgb(107, 80, 5);
  text-align: center;
}
